1. ¿Existe una diferencia significativa en las tasas de rotación y/o en el nivel de satisfacción laboral en función del género (hombre/mujer) o del estado civil del empleado?


2. ¿Cuál es la relación entre la edad media de los empleados y las tasas de rotación de personal (correlación entre juventud y mayor rotación vs. edad avanzada y estabilidad)?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np # Necesario para crear datos aleatorios

In [4]:
df = pd.read_csv("df_limpio.csv")
pd.set_option('display.max_columns', None)

In [5]:
df.head()

,age,attrition,businesstravel,dailyrate($),department,distancefromhome,education,educationfield,employeecount,employeenumber,environmentsatisfaction,gender,hourlyrate($),jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome($),monthlyrate($),numcompaniesworked,over18,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome($),datebirth,salary($),roledepartament,numberchildren,remotework,salary
0,51,no,NaN,2015.722222,NaN,6,3,NaN,1,1,1,0,251.965278,3,5,research director,3,unknown,16280.830000,42330.17,7,y,no,13,3.0,3,full time,0,NaN,5,3.0,20,NaN,15,15,16280.83,1972,195370.00,NaN,NaN,True,NaN
1,52,no,NaN,2063.388889,NaN,1,4,life sciences,1,2,3,0,257.923611,2,5,manager,3,unknown,16665.833333,43331.17,0,NaN,NaN,14,3.0,1,NaN,1,34.0,5,3.0,33,NaN,11,9,NaN,1971,199990.00,NaN,NaN,True,NaN
2,42,no,travel rarely,1984.253968,research & development,4,2,technical degree,1,3,3,0,248.031746,3,5,manager,4,married,16026.666667,41669.33,1,NaN,no,11,3.0,4,NaN,0,22.0,3,NaN,22,NaN,11,15,NaN,1981,192320.00,manager research & development,NaN,True,NaN
3,47,no,travel rarely,1771.404762,NaN,2,4,medical,1,4,1,1,221.425595,3,4,research director,3,married,14307.500000,37199.50,3,y,NaN,19,3.0,2,full time,2,NaN,2,NaN,20,NaN,5,6,14307.50,1976,171690.00,NaN,NaN,False,NaN
4,46,no,NaN,1582.771346,NaN,3,3,technical degree,1,5,1,1,197.846418,4,4,sales executive,1,divorced,12783.920000,33238.20,2,y,no,12,3.0,4,NaN,1,NaN,5,3.0,19,NaN,2,8,12783.92,1977,153407.04,NaN,NaN,False,153407.04

In [ ]:
yearsatcompany yearsincurrentrole worklifebalance  

gender maritalstatus


#0 male - 1 female en el proyecto 

#satisfaction: 1 malo - 4 bueno - comprobar rangos. Preguntar Pili. 


#todas las satisfaction son sobre 10?

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1678.0,36.949940,9.155706,18.000000,30.000000,36.000000,43.000000,6.000000e+01
dailyrate($),1678.0,668.079714,470.787298,104.103175,290.035510,556.256661,971.956349,2.063389e+03
distancefromhome,1678.0,11.184744,10.479008,1.000000,2.000000,8.000000,17.000000,4.900000e+01
education,1678.0,2.932658,1.024270,1.000000,2.000000,3.000000,4.000000,5.000000e+00
employeecount,1678.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00
employeenumber,1678.0,809.859952,467.084867,1.000000,403.250000,813.500000,1215.750000,1.614000e+03
environmentsatisfaction,1678.0,4.264005,6.912695,1.000000,2.000000,3.000000,4.000000,4.900000e+01
gender,1678.0,0.398689,0.489774,0.000000,0.000000,0.000000,1.000000,1.000000e+00
hourlyrate($),1678.0,83.509964,58.848412,13.012897,36.254439,69.532083,121.494544,2.579236e+02
jobinvolvement,1678.0,2.740763,0.710359,1.000000,2.000000,3.000000,3.000000,4.000000e+00
joblevel,1678.0,2.064362,1.099425,1.000000,1.000000,2.000000,3.000000,5.000000e+00
jobsatisfaction,1678.0,2.743147,1.105172,1.000000,2.000000,3.000000,4.000000,4.000000e+00
monthlyincome($),1678.0,5607.833229,5601.610140,909.166667,2342.594167,4492.840000,7985.835000,9.408300e+04
monthlyrate($),1678.0,14029.674648,9886.532728,2186.170000,6090.750000,11681.390000,20411.080000,4.333117e+04
numcompaniesworked,1678.0,2.670441,2.501133,0.000000,1.000000,2.000000,4.000000,9.000000e+00
percentsalaryhike,1678.0,15.154350,3.649607,11.000000,12.000000,14.000000,18.000000,2.500000e+01
performancerating,1478.0,3.149526,0.356727,3.000000,3.000000,3.000000,3.000000,4.000000e+00
relationshipsatisfaction,1678.0,2.700238,1.079494,1.000000,2.000000,3.000000,4.000000,4.000000e+00
stockoptionlevel,1678.0,0.787843,0.843252,0.000000,0.000000,1.000000,1.000000,3.000000e+00
totalworkingyears,1129.0,11.359610,7.807298,0.000000,6.000000,10.000000,15.000000,4.000000e+01
trainingtimeslastyear,1678.0,2.795590,1.288657,0.000000,2.000000,3.000000,3.000000,6.000000e+00
worklifebalance,1564.0,2.759591,0.703527,1.000000,2.000000,3.000000,3.000000,4.000000e+00
yearsatcompany,1678.0,7.124553,6.173837,0.000000,3.000000,5.000000,9.000000,4.000000e+01
yearsincurrentrole,35.0,3.971429,3.584983,0.000000,2.000000,2.000000,6.500000,1.300000e+01
yearssincelastpromotion,1678.0,2.241955,3.246554,0.000000,0.000000,1.000000,3.000000,1.500000e+01
yearswithcurrmanager,1678.0,4.200238,3.554224,0.000000,2.000000,3.000000,7.000000,1.700000e+01
sameasmonthlyincome($),1189.0,5676.787065,6157.859086,1000.000000,2342.590000,4492.840000,7861.670000,9.408300e+04
datebirth,1678.0,1986.047080,9.154908,1963.000000,1980.000000,1987.000000,1993.000000,2.005000e+03
salary($),1678.0,65411.947437,52359.015437,10090.000000,28111.130000,53914.110000,94340.000000,1.118004e+06
numberchildren,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary,285.0,67078.834947,76688.829603,14199.960000,28111.080000,53914.080000,77559.960000,1.118004e+06

In [ ]:
df["environmentsatisfaction"].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

In [ ]:
df["environmentsatisfaction"].value_counts()

#error de coma. 
#La variable es del 1 al 4. satisfacción 
#Todo lo que tiene dos valores, cuanta solo el primero. 


#education y job level es del 1 al 5

environmentsatisfaction
4     483
3     471
2     316
1     306
12      7
35      7
13      6
14      6
47      5
24      5
41      4
42      4
46      4
36      4
48      4
20      3
22      3
11      3
18      3
45      3
27      3
25      3
17      3
37      2
38      2
16      2
31      2
15      2
19      2
29      2
28      1
33      1
21      1
39      1
49      1
10      1
26      1
43      1
Name: count, dtype: int64